body {
  margin: 0;
  font-family: Arial, sans-serif;
}

ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

li {
  height: 70px;
  line-height: 70px;
  padding-left: 20px;
  font-size: 20px;
  color: white;
}

.black  { background: #000000; }
.silver { background: #C0C0C0; }
.gray   { background: #808080; }
.peter  { background: #3498db; }
.maroon { background: #800000; }
.red    { background: #FF0000; }
.purple { background: #800080; }
.white  { background: #FF00FF; color: black; }
.green  { background: #008000; }
.lime   { background: #00FF00; color: black; }
.olive  { background: #808000; }
.yellow { background: #FFFF00; color: black; }
.navy   { background: #000080; }
.blue   { background: #0000FF; }
.teal   { background: #008080; }
.aqua   { background: #00FFFF; color: black; }